.about {
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: $base-color;
  z-index: 7;
  padding-top: 33px;
  padding-bottom: 74px;
}

.about__text {
  color: #ffffff;
}
