.add-plan {
  position: relative;
  padding-bottom: 74px;
  margin-bottom: -30px;
  background-color: #d4d9eb;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .add-plan {
    padding-bottom: 114px;
    margin-bottom: -30px;
  }

  .add-plan__header {
    display: flex;
    box-sizing: border-box;
  }
}
