.alphabet {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: $button-text;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  border-collapse: collapse;
}

.alphabet__cell {
  width: 45px;
  height: 42px;
  background-color: #ffffff;
  border: 1px solid #cbced9;
  text-align: center;
}

.alphabet__cell--active {
  color: #ffffff;
  background-color: $button-text;
  border-color: $button-text;
}

@media (min-width: $tablet-width) {
  .alphabet {
    font-size: 60px;
  }

  .alphabet__cell {
    background-color: transparent;
    color: rgba(25, 33, 68, 0.2);
    width: 60px;
    height: 60px;
  }

  .alphabet__cell--active {
    color: $base-color;
  }
}
