.authorisation-button {
  padding-top: 19px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-left: 77px;
  background-color: $base-button;
  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $button-text;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
}

