.carousel-buttons {
  display: flex;
  justify-content: space-between;
}

.carousel-buttons__item {
  background-color: #ffffff;
  width: 134px;
  height: 50px;
}

.carousel-buttons__item--left {
  width: 135px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.carousel-buttons__item--right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media (min-width: $tablet-width) {
  .carousel-buttons {
    width: 73px;
  }

  .carousel-buttons__item {
    background-color: #ffd74b; //just for time
    width: 10px;
    height: 20px;
    padding: 10px;
  }

  .carousel-buttons__item--left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .carousel-buttons__item--right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
