.companions {
  background-color: $base-color;
  color: #ffffff;
  padding-bottom: 30px;
  z-index: 5;
}

.companions__list {
  @include resetList;
  margin-top: 60px;
}

.companions__card {
  position: relative;
  //width: 270px;
  margin: 0 auto;
  padding-bottom: 22px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.companions__card:last-child {
  margin-bottom: 0;
}

.companions__text {
  color: #ffffff;
  padding-right: 24px;
  padding-left: 24px;
}

.companions__heading {
  padding-top: 73px;
  padding-right: 24px;
  padding-left: 24px;
}

.companions__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.companions__name {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-top: 18px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $button-text;
}

.companions__name::before {
  content: "";
  position: absolute;
  display: block;
  top: 25px;
  left: 63px;
  width: 5px;
  height: 5px;
  background-color: #f97676;
  border-radius: 3px;
}

.companions__name--active::before {
  background-color: #81e31e;
}

.companions__tags {
  margin: 0 auto;
  margin-top: 16px;
}

.companions__countries {
  margin: 0 auto;
  margin-top: -18px;
}

.companions__photo {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.companions__info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.companions__transport {
  margin-top: 21px;
}

@media (min-width: $tablet-width) {
  .companions {
    padding-bottom: 88px;
  }

  .companions__list {
    display: flex;
    justify-content: space-between;
  }

  .companions__card {
    margin: 0;
    width: 285px;
  }

  .companions__button {
    margin-top: 80px;
  }
}
