.container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  width: 270px;
}

@media (min-width: $tablet-width) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    width: 688px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding-left: 0;
    padding-right: 0;
    width: 1320px;
  }
}
