.content-text {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 23px;
  margin-bottom: 0;
  font-family: $main-font;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $text-color;
}
