.continents {
  @include resetList;
  padding-left: 25px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.continents__item {
  padding-bottom: 6px;
  color: rgba(25, 33, 68, 0.3);
}

.continents__item:last-child {
  padding-bottom: 0;
}

.continents__item--active {
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .continents {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
  }
}
