.cotravelers {
  width: 270px;
  margin: 0 auto;
  margin-top: 28px;
}

.cotravelers__button {
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .cotravelers {
    width: 688px;
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .cotravelers {
    width: 950px;
    margin-top: 77px;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cotravelers__button {
    margin-top: 71px;
    padding-left: 52px;
  }
}
