.cotravelers {
  width: 270px;
  margin: 0 auto;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cotravelers__button {
  margin-top: 26px;
}

@media (min-width: $tablet-width) {
  .cotravelers {
    width: 688px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .cotravelers__button {
    margin-top: 51px;
  }
}

@media (min-width: $desktop-width) {
  .cotravelers {
    width: 950px;
    margin-top: 77px;
    order: 1;
  }

  .cotravelers__button {
    margin-top: 71px;
  }
}
