.cotravelers-filter {
  width: 270px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 20px;
  box-sizing: border-box;
  background-color: $base-button;
  border-radius: 20px;
}

.cotravelers-filter__title {
  width: 120px;
  margin: 0;
  padding-top: 6px;
  padding-left: 6px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 22.5px;
  line-height: 22.5px;
  color: $button-text;
}

.cotravelers-filter__button {
  width: 230px;
  margin: 0 auto;
  padding-top: 6px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .cotravelers-filter {
    width: 688px;
    margin: 0 auto;
    padding-top: 37px;
    padding-right: 35px;
    padding-bottom: 38px;
    padding-left: 35px;
    box-sizing: border-box;
  }
}

@media (min-width: $desktop-width) {
  .cotravelers-filter {
    width: 286px;
    margin-top: 77px;
    order: 3;
  }
}
