.country-select__option {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  color: $button-text;
  text-transform: uppercase;
}

.country-select__add-country {
  font-family: $main-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
  color: $button-text;
  text-transform: uppercase;
}
