.country-list {
  @include resetList;
  width: 270px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 87px;
}

@media (min-width: $tablet-width) {
  .country-list {
    width: 100%;
    margin-bottom: 0;
  }
}
