.country-filter {
  margin-top: -50px;
  padding-top: 30px + 20px;
  padding-bottom: 27px;
  background-color: #e2e5f2;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.country-filter__collapsed {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 15px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $base-color;
  text-transform: uppercase;
}

.country-filter__table {
  margin-top: 25px;
  margin-left: 25px;
}

.country-filter__counties {
  margin-top: 28px;
  padding-right: 25px;
  padding-left: 25px;
}

.country-filter__button {
  background-color: red;
}

.country-filter__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}

@media (min-width: $tablet-width) {
  .country-filter {
    padding-top: 30px + 62px;
    padding-bottom: 74px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .country-filter__form {
    padding: 0;
  }

  .country-filter__counties {
    margin-top: 48px;
    padding: 0;
    order: 1;
  }

  .country-filter__collapsed {
    display: none;
  }

  .country-filter__button {
    height: 20px;
    order: 2;
  }

  .country-filter__table {
    order: 3;
    margin: 0;
    padding: 0;
  }

  .country-filter__counties-list {
    order: 4;
  }
}

@media (min-width: $desktop-width) {
  .country-filter {
    //padding: 0;
    width: 100%;
    //order: 1;
  }

  .country-filter__form {
    flex-wrap: wrap;
  }

  .country-filter__continents {
    display: flex;
  }

  .country-filter__counties {
    margin-top: 49px;
    margin-left: 0;
    margin-right: 0;
  }

  .country-filter__filter-main {
    display: flex;
    order: 1;
  }

  .country-filter__collapsed {
    display: initial;
  }

  .country-filter__button {
    order: 3;
  }

  .country-filter__counties-list {
    order: 4;
  }
}
