.country-card {
  margin-bottom: 10px;
  border-radius: 10px;
}

.country-card__link {
  text-decoration: none;
}

.country-card__info {
  position: relative;
  padding-top: 28px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 24px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: -11px;
}

.country-card__flag {
  position: absolute;
  top: -12px;
  left: 24px;
}

.country-card__name {
  margin: 0;
  font-family: $main-font;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #161c35;
}

.country-card__teaser {
  margin: 0;
  padding-top: 3px;
  color: rgba(68, 68, 68, 0.3);
}

.country-card__visits {
  position: absolute;
  top: 31px;
  right: 25px;
  color: rgba(68, 68, 68, 0.3);
}

.country-card__preview {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@media (min-width: $tablet-width) {
  .country-card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }

  .country-card__link {
    display: flex;
    flex-direction: row-reverse;
  }

  .country-card__info {
    margin-top: 0;
    flex-grow: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .country-card__name {
    font-size: 24px;
    line-height: 24px;
  }

  .country-card__preview {
    width: 186px;
    height: 140px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
  }

  .country-card__flag {
    position: absolute;
    width: 70px;
    height: 47px;
    top: 16px;
    right: 100px;
  }

  .country-card__visits {
    position: relative;
    padding-top: 25px;
    right: 0;
  }
}
