.desire-countries {
  @include resetList;
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.desire-countries__flag {
  width: 35px;
  height: 24px;
  margin-right: 8px;
  margin-left: 8px;
}
