.directions {
  background-color: $additional-color;
  padding-bottom: 30px;
  z-index: 6;
}

.directions__heading {
  padding-top: 120px;
}

@media (min-width: $tablet-width) {
  .directions {
    padding-bottom: 88px;
  }

}
