.directions {
  background-color: $additional-color;
  padding-bottom: 30px;
  z-index: 6;
}

.directions__heading {
  padding-top: 73px;
  padding-right: 24px;
  padding-left: 24px;
}

.directions__text {
  padding-right: 24px;
  padding-left: 24px;
}

.directions__wrapper {
  position: relative;
}

.directions__button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 270px;
  bottom: -87px;
}

@media (min-width: $tablet-width) {
  .directions {
    padding-bottom: 88px;
  }

  .directions__button {
    width: 618px;
  }
}

@media (min-width: $desktop-width) {
  .directions {
    padding-top: 160px;
    padding-bottom: 134px;
  }

  .directions__wrapper {
    display: flex;
    width: 1178px;
    margin: 0 auto;
  }

  .directions__countries {
    order: 1;
  }

  .content-section__main-content {
    margin-right: 100px;
    margin-left: 147px;
    width: 370px;
    order: 2;
  }

  .directions__button {
    width: 280px;
    margin-left: 24px;
    bottom: 0;
  }

  .directions__text {
    width: 370px;
    padding-right: 24px;
    padding-left: 24px;
  }
}
