.how-to {
  //width: 270px;
  margin: 37px 5px 0 5px;
  box-sizing: border-box;
  padding-left: 0;
  background-color: #ff8d30;
  color: #161c35;
  list-style: none;
  border-radius: 10px;
}

.how-to__item {
  padding-top: 24px;
  padding-bottom: 36px;
  padding-left: 24px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: bold;
}

.how-to__item:nth-child(2) {
  background-color: #ffa530;
  margin-top: -10px;
}

.how-to__item:nth-child(3) {
  background-color: #ffbd30;
  margin-top: -10px;
}

.how-to__item:last-child {
  background-color: #ffd74b;
  margin-top: -10px;
  border-radius: 10px;
  padding-bottom: 26px;
}

.how-to__name {
  width: 150px;
  margin: 0;
}
