.interested {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 29px;
  background-color: $base-color;
  z-index: 3;
}

.interested__heading {
  margin: 0 auto;
}

.interested__text {
  width: 220px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .interested__text {
    width: 618px;
  }
}
