.interested {
  background-color: $base-color;
  z-index: 3;
  padding-bottom: 29px;
}

.interested__heading {
  padding-top: 120px;
  padding-left: 6px;
}

.interested__text {
  color: #ffffff;
  text-align: center;
}
