.main-content {
  font-family: $main-font;

  &--catalog {
    position: relative;
    background-color: #edeff6;
    margin-bottom: -50px;
    padding-bottom: 50px + 46px;
    z-index: 1;
  }
}

@media (min-width: $desktop-width) {
  .main-content--catalog {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }
}
