.main-nav {
  background-color: #ffffff;
  display: none; //just for time
}

.main-nav__list {
  @include resetList;
  text-align: center;
}

.main-nav__item {
  padding-bottom: 5px;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $main-font;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: $base-color;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
  }
}
