.my-plans {
  position: relative;
  background-color: #dfe3f0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  z-index: 2;
}

.my-plans__list {
  list-style: none;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 0;
}
