.page-header {
  position: relative;
  background-color: $base-color;
  margin: 0 auto;
  font-family: $main-font;
  color: #ffffff;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 10;

  &--main-page {
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: -52px;
    font-family: $main-font;
    color: #ffffff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.page-header__container {
  width: 320px;
  margin: 0 auto;
}

.page-header__logo {
  margin-top: 19px;

  &--main-page {
    margin-top: 27px;
    margin-left: 27px;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
  }

  .page-header__container {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__container {
    width: 1320px;
    display: flex;
    justify-content: space-between;

    &--inner-page {
      flex-direction: column;
    }
  }

  .page-header__top {
    display: flex;
    justify-content: space-between;
  }
}
