.page-footer {
  position: relative;
  margin: 0 auto;
  font-family: $main-font;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ffffff;
  z-index: 10;
}

.page-footer__logo-link {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.page-footer__copyright {
  padding-top: 37px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 46px;
  }

  .page-footer__logo-link {
    width: 30%;
    justify-content: left;
  }

  .page-footer__social {
    width: 40%;
  }

  .page-footer__copyright {
    width: 30%;
  }
}
