.presentation {
  position: relative;
  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-color: $base-color;
  padding-bottom: 39px;
  z-index: 8;
}

.presentation::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/traveller-illustration-mobile@1x.png");
  top: 223px;
  left: 50%;
  width: 192px;
  height: 255px;
  transform: translate(-78px);
  background-position-x: center;
}

.presentation__description {
  width: 200px;
  margin: 0 auto;
  padding-top: 97px;
  text-align: center;
  font-family: $main-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
}

.presentation__contact-us {
  position: relative;
  width: 270px;
  margin: 0 auto;
  display: flex;
  padding-top: 240px;
  z-index: 10;
}

.presentation__content {
  margin-top: -20px;
  background-color: $base-color;
}

.presentation__quote {
  padding-top: 40px;
}

@media (min-width: $tablet-width) {
  .presentation__content {
    width: 688px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .presentation__content {
    width: 1320px;
  }
}
