.profile {
  position: relative;
  margin-top: -50px;
  padding-bottom: 50px;
  background-color: #edeff6;
  z-index: 1;
}

.profile__main {
  display: flex;
  justify-content: space-between;
  padding-top: 50px + 23px;
  margin-right: 24px;
  margin-left: 24px;
}

.profile__user-pic {
  border-radius: 50%;
}

.profile__button {
  margin-top: 20px;
}

.profile__subsection-title {
  margin: 0;
  margin-top: 27px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $button-text;
  text-transform: uppercase;
  text-align: center;
}

.profile__tag-list {
  width: 100%;
  margin-top: -11px;
  box-sizing: border-box;
  padding: 26px;
  padding-bottom: 25px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  justify-content: left;
}
