.profile {
  position: relative;
  margin-top: -50px;
  padding-bottom: 50px;
  background-color: #edeff6;
}

.profile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px + 23px;
}

.profile__level {
  margin-left: 24px;
}

.profile__user-pic {
  margin-right: 24px;
  border-radius: 50%;
}

.profile__button {
  margin-top: 20px;
}

.profile__subsection-title {
  margin: 0;
  margin-top: 27px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $button-text;
  text-transform: uppercase;
  text-align: center;
}

.profile__tag-list {
  width: 100%;
  margin-top: -11px;
  box-sizing: border-box;
  padding: 26px;
  padding-bottom: 25px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  justify-content: left;
}

@media (min-width: $tablet-width) {
  .profile__level {
    margin-left: 0;
    order: 1;
  }

  .profile__user-pic {
    margin-right: 0;
    border-radius: 5px;
    order: 3;
  }

  .profile__button {
    order: 4;
  }

  .profile__tags {
    width: 618px;
    order: 5;
  }

  .profile__transport {
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .profile__level {
    position: absolute;
    width: 94px;
    height: 94px;
    right: 260px;
    top: -220px;
    order: 3;
    z-index: 20;
  }

  .profile__user-pic {
    position: absolute;
    width: 190px;
    height: 190px;
    right: 155px;
    top: -140px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 20;
  }

  .profile__tags {
    width: 730px;
    order: 1;
  }

  .profile__button {
    position: absolute;
    right: 150px;
    top: 30px;
  }

  .profile__transport {
    order: 2;
  }
}
