.quote {
  color: #ffffff;
  width: 155px;
  margin: 0;
  padding-left: 50px;
}

.quote__content {
  font-size: 16px;
  line-height: 22px;
  //font-weight: lighter;
}

.quote__author {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  font-style: normal;
}
