.site-form {
  position: relative;
  width: 100%;
  margin: 36px auto 0;
}

.site-form__field {
  width: 100%;
  padding-top: 21px;
  padding-right: 23px;
  padding-bottom: 19px;
  padding-left: 23px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  color: #444444;
}

.site-form::placeholder {
  opacity: 30%;
}

.site-form__button {
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.site-form__button::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #ffd74b;
  background-image: url("../img/triangle-arrow-right.svg");
  border-radius: 10px;
}
