.step {
  margin-top: 31px;
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;
}

.step__heading {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: $main-font;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $button-text;
}

.step__label {
  display: flex;
  justify-content: space-between;
}

.step__item-name {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: $button-text;
  text-transform: uppercase;
}

.step__item-measure {
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
  color: rgba(29, 46, 91, 0.3);
  text-transform: uppercase;
}

.step__question {
  font-family: $main-font;
  font-size: 15px;
  line-height: 15px;
  color: #444444;
}

.step__text {
  margin: 0;
  padding-top: 18px;
}

.step__input {
  font-family: $main-font;
  font-weight: 500;
  font-size: 15px;
  line-height: 13.5px;
  color: $button-text;
}

.step__button {
  display: block;
  width: 230px;
  margin: 0 auto;
  margin-top: 22px;
  margin-right: -5px;
  margin-left: -5px;
  padding-top: 6px;
  padding-bottom: 2px;
  font-family: $main-font;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #161c35;
  border-radius: 20px;
  border: none;
  background-color: $base-button;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.step__button--backward {
  margin-top: 9px;
  margin-bottom: -10px;
  padding-bottom: 0;
  background-color: transparent;
}

.step__description {
  width: 100%;
  height: 220px;
  margin-top: 14px;
  padding: 13px 15px 13px 15px;
  box-sizing: border-box;
  font-family: $main-font;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  border: 1px solid #cbced9;
  border-radius: 4px;
  resize: none;
}

.step__description::placeholder {
  font-family: $main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(68, 68, 68, 0.3);
}

@media (min-width: $tablet-width) {
  .step {
    border-radius: 49px;
    padding-top: 24px;
    padding-right: 44px;
    padding-bottom: 55px;
    padding-left: 44px;
  }

  .step__buttons {
    display: flex;
    margin-top: 76px;
    justify-content: space-between;
    align-items: center;
  }

  .step__button {
    width: 285px;
    padding-top: 30px;
    padding-right: 68px;
    padding-bottom: 28px;
    padding-left: 34px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    text-transform: none;
  }

  .step__button--backward {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 28px;
    padding-left: 34px;
    text-align: right;
    background-color: transparent;
  }
}
