.tag-list {
  @include resetList;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag-list__item {
  padding-right: 2px;
  padding-left: 2px;
  font-family: $main-font;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
