.transport-list {
  @include resetList;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.transport-list__item {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}

.transport-list__item:last-child {
  margin-right: 0;
}
